html {
  text-align: center;
  scroll-behavior: smooth;
}

body {
  /*background: linear-gradient(to top, blue, red) fixed !important;*/
  /*background: linear-gradient(to top, grey, black) fixed !important;*/
  /*background: #bbbbbb !important;*/
  background: rgb(2,71,49) !important;
}
/*
.ui.form .field > label{
  color: white !important;
}
*/
/* Handles the checked Ingredients in the Recipe Modal */
.ui.checked.checkbox {
  color: rgb(255, 1, 1);
  text-decoration: line-through;
}

.ui.ordered.list > .item:before {
  left: -5px !important;
  font: bold 14px sans-serif;
  text-align: center !important;
  color: rgb(255,255,255) !important;
  line-height: 18px;
  width: 18px; height: 18px;
  background: rgb(255,102,0);
  -moz-border-radius: 999px;
  border-radius: 999px
}

.featuredPic {
  border-image: round;
}

label .ingredients {
  color: #0f0f10 !important;
}

/* 2. Make nav sticky */
main > nav {
  position: sticky;
  top: 2rem;
  align-self: start;
}

/* 3. ScrollSpy active styles (see JS tab for activation) */
.section-nav li.active > a {
  color: #333;
  font-weight: 500;
}

/* Sidebar Navigation */
.section-nav {
  padding-left: 0;
  border-left: 1px solid #efefef;
}

.section-nav a {
  text-decoration: none;
  display: block;
  padding: .125rem 0;
  color: #ccc;
  transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

.section-nav a:hover,
.section-nav a:focus {
  color: #666;
}

.linediv {
  margin: 1rem 0rem;
}

/*label {*/
/*  color: #d4d4d5 !important;*/
/*}*/

p.mission-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  color: #cccdd3;
  letter-spacing: .1em;
}

/*!* Fix highlight for item and font hover *!*/
i:hover {
  /*background: transparent !important;*/
  transition: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  transition: color .5s;
  color: #ff6600 !important;
}

/* Image filters - to use, just add className='uh-green' for example after <Image /> */
.uh-green { filter: invert(16%) sepia(56%) saturate(2027%) hue-rotate(137deg) brightness(94%) contrast(98%); }
/*.grayscale { filter: grayscale(100%); }*/
/*.contrast { filter: contrast(160%); }*/
/*.brightness { filter: brightness(0.25); }*/
/*.blur { filter: blur(3px); }*/
/*.invert { filter: invert(100%); }*/
/*.sepia { filter: sepia(100%); }*/
/*.huerotate { filter: hue-rotate(180deg); }*/
/*.rss.opacity { filter: opacity(50%); }*/
.white {filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(299deg) brightness(101%) contrast(103%); }

/* Add font and change menu display settings */
.ui.menu.top {
  background: rgba(0,0,0,0.8) !important;
  border-radius: 0;
  font-family: 'Pacifico', cursive;
  font-size: 18px;
}

/** Nav Menu Items home/recipes/etc. */
.ui.secondary.inverted.pointing.menu a.item{ color: rgba(255, 255, 255, 0.9) !important; }
.ui.secondary.inverted.pointing.menu a.item.active{
  transition: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  transition: color .5s;
  color: rgb(200,200,200) !important;
}
.ui.secondary.inverted.pointing.menu a.item:hover{
  transition: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  transition: color .5s;
  color: #ff6600 !important;
}

.ui.secondary.inverted.pointing.menu .active.item{
  border-color: rgb(200,200,200) !important;
  /*border-image: url("public/images/shapes/squiggly1.png") inherit !important;*/
}


/*.ui.menu .active:hover {*/
/*  background: transparent !important;*/
/*  transition: cubic-bezier(0.1, 0.7, 1.0, 0.1);*/
/*  transition: color .5s;*/
/*  color: #ff6600 !important;*/
/*}*/

/* Fix highlight for item and font hover */
.ui .item:hover {
  /*background: transparent !important;*/
  transition: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  transition: color .5s;
  color: #ff6600 !important;
}


/*.buttons {*/
/*  width: 100%;*/
/*}*/

.text-over {
  display: flex;
  flex-wrap: wrap;
  padding: 0rem;
}

.text-over > * {
  flex: 1 1 100px;
  align-self: flex-start;
  padding: .1rem;
}

.text-over figure::before {
  /*display: block;*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #9f99a0 0%, rgba(248, 248, 248, 0.91) 100%);
  /*background-image: linear-gradient(to top, blue, red) fixed !important;*/
  content: '';
  border-radius: 5px 5px 0px 0px !important;
}

.text-over figure:hover img {
  opacity: 0.15;
}

.text-over figure:hover figcaption {
  opacity: 1;
  transform: translateY(0);
}

.text-over figure {
  position: relative;
  padding: 30% 0;
  margin: 0;
}

.text-over figcaption {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  text-align: center;
  opacity: 0;
  transform: translateY(1rem);
  transition: all 0.3s ease-in-out;
}

.text-over img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
  filter: saturate(1.5);
  border-radius: 5px 5px 0px 0px !important;
  transition: all 0.3s ease-in-out;
}

#scrollUp {
  right: 25px;
  bottom: 25px;
  text-align: center;
  position: fixed;
  z-index: 999;
  display: block;
}
